.RightOutlined
{
    margin-left: 30px;
    position: relative;
    top: -3px;
}

.MarketingServicesButton h3 {
color: rgb(126, 3, 109);
}
.MarketingServicesButton h6 {
    color: rgb(126, 3, 109);
}
.MarketingServicesButton
{
min-height: 180px;

padding: 20px 0;
box-shadow: 0 5px 5px 1px rgb(138, 138, 138);

}

.PasswordCardButton h5 {

color: rgb(126, 3, 109);
}

.PasswordCardButton

{
min-height: 180px;
box-shadow: 0 5px 5px 1px rgb(138, 138, 138);

}