.app{
    
    margin-top: -20px
}
.backgroundClass{
background: linear-gradient(to right, #AC5288, #3F1254) !important;
}
.textclass {
    color: linear-gradient(to right, #AC5288, #3F1254) !important;
}

.ant-spin-dot-item {
background: linear-gradient(to right, #AC5288, #3F1254) !important;
}
.addButton{
    padding:10px 30px !important;
    background: linear-gradient(to right, #AC5288, #3F1254) !important;
    color:white !important;
    border: none !important;
    border-radius: 20px !important;
    box-shadow:  0px 3px 5px 1px rgb(138, 138, 138) !important;

}

.whitebutton {
    padding: 10px 30px !important;
    background: white !important;
    color: linear-gradient(to right, #AC5288, #3F1254) !important;
    border: none !important;
    border-radius: 20px !important;
    box-shadow: 0 3px 5px 1px rgb(138, 138, 138) !important;

}
/* REACT-BIG-CALENDER */
.rbc-timeslot-group {
    width: 50px;
    height: 50px;
    background-color: red;
}

.rbc-timeslot-group.second {
    background-color: green;
}

 /* AntD Sidebar */
.ant-menu-item-selected {
    background-color: #f7d8f354 !important;
}
.ant-menu {
    background: linear-gradient(to right, #AC5288, #3F1254) !important;
    font-size: 13px !important;

    font-weight: bold;
}
.Saloon {
    margin-top: 10px;
    font-weight: 400;
}
.Wizz {
    margin-top: -22px;
    background: 'red';
    font-weight: 900;


}

.digitalAssistance-isRead {
     color: #9e1068 !important;
    margin-left: 8px;
    margin-bottom: 15px;
}


.linkTag {

    /* width: 100%; */
    font-size: 16px;
    background:none;
/* background: linear-gradient(to right, #AC5288, #3F1254) !important; */
color: #9e1068 !important;


}
.ant-tooltip-inner {
    color: white;
    background: linear-gradient(to right, #AC5288, #3F1254) !important;
     opacity: 0.9;
     box-shadow: 0 3px 5px 1px rgb(138, 138, 138) !important;
}   
/* 
//whatsappbutton */

.floatwhatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color: #25d366; */
background: linear-gradient(to right, #AC5288, #3F1254) !important;

    color: #FFF;
    border-radius: 50px;
    /* border: #25d366 2PX solid; */
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
}

.my-floatwhatsapp {
    margin-top: 14px;
}
